---
import "../styles/global.css";

// Definir la ruta de la imagen para las etiquetas meta
const ogImage = "og_web.png";
const siteUrl = "https://portafolio-astro-black-nu.vercel.app";
const fullImageUrl = `${siteUrl}${ogImage}`;
---

<!doctype html>
<html lang="es" data-theme="dark" style="color-scheme: light dark;">
  <head>
    <title>Astro Basics</title>
    <meta charset="UTF-8" />
    <meta property="description" content="Portafolio de los desarrollos de Manuel Mendoza" />
    <link rel="apple-touch-icon" sizes="180x180" href="/sticker.webp">
    <link rel="icon" type="image/svg+xml" sizes="180x180" href="/sticker.webp" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    
    <!-- SEO -->
    <!-- Twitter -->
    <meta property="twitter:title" content="Portafolio de Manuel Mendoza">
    <meta property="twitter:description" content="Portafolio de los desarrollos de Manuel Mendoza">
    <meta property="twitter:image" content={fullImageUrl}>
    <meta property="twitter:card" content="summary_large_image">
    
    <!-- OG: Open Graph -->
    <meta property="og:title" content="Portafolio de Manuel Mendoza">
    <meta property="og:description" content="Soy un desarrollador de software especializado en frontend y con experiencia en backend.">
    <meta property="og:image" content={fullImageUrl}>
    <meta property="og:url" content="https://portafolio-astro-black-nu.vercel.app/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Portafolio de Manuel Mendoza">
  </head>
  <body>
    <slot />
  </body>
</html>
